/* Mobile CSS */
@media only screen and (max-width: 480px) {
  body {
    /* background-color: aqua; */
    font-size: 15pt;
  }
  h1 {
    text-align: center;
    font-size: 2.7em;
    margin: 0 10px;
  }

  section {
    margin: 10px auto;
  }

  /* Section Desc */
  .grid-container-home {
    display: grid;
    grid-template-columns: 100vw;
  }

  .grid-area-desc {
    grid-area: desc;
    min-height: 100vh; /*minus navbar height later */
    background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)),
      url('./images/office-bg.jpeg');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .description {
    text-align: left;
    justify-self: center;
    /* width: 70vw; */
    /* height: 60%; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 1em 10px;
  }

  .blue {
    color: #2E5077;
  }
  .cta-trial {
    text-align: center;
    font-size: 1.5em;
    margin: 0 auto 1em;
  }

  /* Section Photos */
  .grid-area-photos {
    grid-area: photos;
    /* height: 100vh */
  }

  .image-home,
  .card-header {
    grid-row: 1/2;
    grid-column: 1/2;
  }
  .image-home {
    object-fit: cover;
    height: 50vh;
    /* grid-area: pic; */
  }

  .card-header {
    /* grid-area: header; */
    position: relative;
    align-self: start;
    background: rgba(255, 255, 255, 0.8);
    margin: 0;
    padding: 0.2em;
    text-align: center;
  }

  .grid-item-home {
    display: grid;
    /* grid-template-areas:
      'header'
      'pic';
    direction: rtl; */
    height: 50vh;
  }

  .room {
    display: none;
  }

  /* Section Rooms */


  /* Slideshow container */
  .slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }

  /* Hide the images by default */
  .mySlides {
    display: none;
  }

  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 7em;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }

  /* Position the "next button" to the right */
  .next {
    right: 18px;
    border-radius: 3px 0 0 3px;
  }

  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }

  /* Caption text */
  .room-desc {
    color: #f2f2f2;
    /* padding: 0.2em 12px; */
    /* position: absolute;
  bottom: 8px; */
    /* width: 100%; */
    text-align: center;
  }

  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px 0.3em;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }

  .active,
  .dot:hover {
    background-color: #F2994A;
  }

  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }

  @keyframes fade {
    from {
      opacity: 0.4;
    }
    to {
      opacity: 1;
    }
  }

  /* Section Register */

  /* Layout */
  .main-home {
    display: grid;
    grid-template-areas:
      'desc'
      'photos'
      'rooms'
      'register';
  }
}
